# Dependencies
node_modules
*.log

# Build output (tsc output, if you emit to ./dist or ./build)
dist
build

# Environment & config
.env
.env.* 
.vscode
.idea

# OS / Editor junk
.DS_Store
Thumbs.db

# Git
.git
.gitignore