# =====================
# Node / TypeScript
# =====================
**/node_modules
certs
dist/
temp/
build/
**/**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript build artifacts
*.tsbuildinfo

# Environment variables
.env.dev
.env.prod
.env.test

# =====================
# Vector Store / Data
# =====================
# Keep the data folder in repo, but ignore generated indexes
data/infinitepay_index/

# (Optional) If there are other indexes in data/
data/*

# =====================
# OS / Editor junk
# =====================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp